@import url(“styles/header.css”);
:root{--fonte-principal:"Poppins"
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF:
}
body{font-family: var(--fonte-principal);
    font-weight: var(--fonte-400);.




    background-color: cornflowerblue;
}